<!--<div class='background'>
	<div class='row top-header'>
		<div class='col-md-1'>
		</div>
		<div class='col-md-4'>
			<h1> Mafia</h1>
		</div>
	</div>
	<div class="container-fluid">


		<div class="chat">
			<div class="row">
				<div class="col-md-10 m-r-0 message-box">
					<div class="contact-box">
						<div class="message-box">

							<div class="message row">

								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
									<div class="bubble you">
										Hello, world
									</div>
								</div>
							</div>

						</div>

						<div class="message-box-type">
							<div class="row ">

								<ul class="work">
									<li class="filter active" data-filter="all">all</li>
									<li class="filter" data-filter=".webdesign">webdesign</li>
									<li class="filter" data-filter=".development">development</li>
									<li class="filter" data-filter=".photography">photography</li>
									<li class="filter active" data-filter="all">all</li>
									<li class="filter" data-filter=".webdesign">webdesign</li>
									<li class="filter" data-filter=".development">development</li>
									<li class="filter" data-filter=".photography">photography</li>
									<li class="filter active" data-filter="all">all</li>
									<li class="filter" data-filter=".webdesign">webdesign</li>
									<li class="filter" data-filter=".development">development</li>
									<li class="filter" data-filter=".photography">photography</li>
								</ul>

							</div>
							<div class="write row">
								<div class="col-md-11">
									<input type="text" placeholder="Type a message" />
								</div>
								<div class="col-md-1">
									<a class="write-link send"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 m-l-0">
					<div class="contact-box">
						<ul class="people">
							<li class="person" data-chat="person1">
								<img src="http://s13.postimg.org/ih41k9tqr/img1.jpg" alt="" />
								<span class="name">Thomas Bangalter</span>
								<span class="time">2:09 PM</span>
								<span class="preview">I was wondering...</span>
							</li>
							<li class="person" data-chat="person2">
								<img src="http://s3.postimg.org/yf86x7z1r/img2.jpg" alt="" />
								<span class="name">Dog Woofson</span>
								<span class="time">1:44 PM</span>
								<span class="preview">I've forgotten how it felt before</span>
							</li>
							<li class="person" data-chat="person3">
								<img src="http://s3.postimg.org/h9q4sm433/img3.jpg" alt="" />
								<span class="name">Louis CK</span>
								<span class="time">2:09 PM</span>
								<span class="preview">But we’re probably gonna need a new carpet.</span>
							</li>
							<li class="person" data-chat="person4">
								<img src="http://s3.postimg.org/quect8isv/img4.jpg" alt="" />
								<span class="name">Bo Jackson</span>
								<span class="time">2:09 PM</span>
								<span class="preview">It’s not that bad...</span>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<!--
<input type="text" placeholder="Enter Message .... " [(ngModel)]="message" name="message" (keyup.enter)="sendMessage()">
<br>

<div *ngFor="let message of messages">
    {{message.text}}
</div>
-->



<div class='background'>
	<div class='row top-header'>
		<div class='col-md-1'>
		</div>
		<div class='col-md-4'>
			<h1> Mafia</h1>
		</div>
	</div>
	<div class="row">
		<div class="wrapper col-md-offset-2 col-md-8">
			<!--<div class="container">-->
				<div class="row">
					<div class="col-md-4 left">
						<div class="top">

						</div>
						<ul class="people">
							<li class="person" data-chat="person1">
								<img src="http://s13.postimg.org/ih41k9tqr/img1.jpg" alt="" />
								<span class="name">Thomas Bangalter</span>
								<span class="time">2:09 PM</span>
								<span class="preview">I was wondering...</span>
							</li>
							<li class="person" data-chat="person2">
								<img src="http://s3.postimg.org/yf86x7z1r/img2.jpg" alt="" />
								<span class="name">Dog Woofson</span>
								<span class="time">1:44 PM</span>
								<span class="preview">I've forgotten how it felt before</span>
							</li>
							<li class="person" data-chat="person3">
								<img src="http://s3.postimg.org/h9q4sm433/img3.jpg" alt="" />
								<span class="name">Louis CK</span>
								<span class="time">2:09 PM</span>
								<span class="preview">But we’re probably gonna need a new carpet.</span>
							</li>
							<li class="person" data-chat="person4">
								<img src="http://s3.postimg.org/quect8isv/img4.jpg" alt="" />
								<span class="name">Bo Jackson</span>
								<span class="time">2:09 PM</span>
								<span class="preview">It’s not that bad...</span>
							</li>
							<li class="person" data-chat="person5">
								<img src="http://s16.postimg.org/ete1l89z5/img5.jpg" alt="" />
								<span class="name">Michael Jordan</span>
								<span class="time">2:09 PM</span>
								<span class="preview">Wasup for the third time like is you bling bitch</span>
							</li>
							<li class="person" data-chat="person6">
								<img src="http://s30.postimg.org/kwi7e42rh/img6.jpg" alt="" />
								<span class="name">Drake</span>
								<span class="time">2:09 PM</span>
								<span class="preview">howdoyoudoaspace</span>
							</li>
							<li class="person" data-chat="person5">
								<img src="http://s16.postimg.org/ete1l89z5/img5.jpg" alt="" />
								<span class="name">Michael Jordan</span>
								<span class="time">2:09 PM</span>
								<span class="preview">Wasup for the third time like is you bling bitch</span>
							</li>
							<li class="person" data-chat="person6">
								<img src="http://s30.postimg.org/kwi7e42rh/img6.jpg" alt="" />
								<span class="name">Drake</span>
								<span class="time">2:09 PM</span>
								<span class="preview">howdoyoudoaspace</span>
							</li>
						</ul>
					</div>
					<div class=" col-md-8 right">
						<div class="top"><span>To: <span class="name">Dog Woofson</span></span>
						</div>
						<div class="stuff">
							<div class="chat active-chat" data-chat="person2">
								<div class="conversation-start">
									<span>Today, 5:38 PM</span>
								</div>
								<div class="bubble you">
									Hello, can you hear me?
								</div>
								<div class="bubble you">
									I'm in California dreaming
								</div>
								<div class="bubble me">
									... about who we used to be.
								</div>
								<div class="bubble me">
									Are you serious?
								</div>
								<div class="bubble you">
									When we were younger and free...
								</div>
								<div class="bubble you">
									I've forgotten how it felt before
								</div>
								<div class="bubble you">
									I've forgotten how it felt before
								</div>
								<div class="bubble you">
									When we were younger and free...
								</div>
								<div class="bubble you">
									I've forgotten how it felt before
								</div>
								<div class="bubble you">
									I've forgotten how it felt before
								</div>
								<div class="bottomwork">
									<ul class="work">
									<li class="filter active" data-filter="all">all</li>
									<li class="filter" data-filter=".webdesign">webdesign</li>
									<li class="filter" data-filter=".development">development</li>
									<li class="filter" data-filter=".photography">photography</li>
									<li class="filter active" data-filter="all">all</li>
									<li class="filter" data-filter=".webdesign">webdesign</li>
									<li class="filter" data-filter=".development">development</li>
									<li class="filter" data-filter=".photography">photography</li>
									<li class="filter active" data-filter="all">all</li>
									<li class="filter" data-filter=".webdesign">webdesign</li>
									<li class="filter" data-filter=".development">development</li>
									<li class="filter" data-filter=".photography">photography</li>
									</ul>
								</div>
							</div>
						</div>
						
						<div class="write">
							<input type="text" />
							<a href="javascript:;" class="write-link send"></a>
						</div>
					</div>
				</div>
			<!--</div>-->
		</div>
	</div>
</div>