<div class='background'>
	<div class='row top-header'>
		<div class='col-md-1'>
		</div>
		<div class='col-md-4'>
			<h1> Mafia</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="chat">
			<div class="row">
				<div class="col-md-10 m-r-0 message-box">
					<div class="contact-box">
						<div class="message-box">
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								
								<div class="col-md-11">
								<div class="bubble me">
                    Hello, world 
								</div>
																</div>

								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								
								<div class="col-md-11">
								<div class="bubble me">
                    Hello, world 
								</div>
																</div>

								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								
								<div class="col-md-11">
								<div class="bubble me">
                    Hello, world 
								</div>
																</div>

								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
							<div class="message row">
								
								
								<div class="col-md-11">
								<div class="bubble me">
                    Hello, world 
								</div>
																</div>

								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
              </div>
							<div class="message row">
								
								<div class="col-md-1">
									<div class="circle-wrapper animated bounceIn"></div>
									<div class="username">Tecknork</div>
								</div>
								<div class="col-md-11">
								<div class="bubble you">
                    Hello, world 
								</div>
								</div>
              </div>
						</div>
						<div class="message-box-type">
							<div class="write row">
								<div class="col-md-11">
								<input type="text" placeholder="Type a message" />
								</div>
								<div class="col-md-1">
								<a  class="write-link send"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 m-l-0">
					<div class="contact-box">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
<input type="text" placeholder="Enter Message .... " [(ngModel)]="message" name="message" (keyup.enter)="sendMessage()">
<br>

<div *ngFor="let message of messages">
    {{message.text}}
</div>
-->

	<div>